

/* * {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP";
    box-sizing: border-box;
    font-weight: normal;
} */

.address{
    font-size:20px;
}

.condition{
    padding:5px;
}
  
.condition-box{
    font-size:20px;
}

.condition-box > ul{
    list-style:none;
}

.fixed_btn{
  position: fixed;
  bottom: 10px; 
  left: 20px;
  padding: 6px 40px;
}

.freeword{
    font-size:20px;
    width:400px;
}

.info{
    font-size:15px;
    padding:3px;
}

.tel{
    font-size:20px;
}

#top-title{
    font-weight:bold;
}

#submit_button{
    margin-left:500px;
    color:white;
}


#search-block{
    padding-left:450px;
}

#search-ways-box{
    margin-left:100px;
}

#search-ways-box > a{
    padding-left:20px;
}

.select-box{
    border:solid 1px #C0C0C0;
    vertical-align: middle;
}

.slider{
    width: 30%;
    float:left;
}

.slider img{
    height: auto;
    width: 100%;
    margin:auto;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

.slider-box{
    display:inline-block;
    width:100%;
}

.introduction{
    display:inline-block;
    position:absolute;
}

.introduction > p{
    font-size:40px;
}

.result-table{
    border-top:double 4px #C0C0C0;
    display:relative;
}